ul.nav { margin: 0 auto; font-weight: normal; width: 980px; height: 46px; text-align: center; }

.multi-menu { margin: 0;  }

.multi-menu { display: block; left: 0; top: 0; margin: 0; padding: 0; position: relative; }
.multi-menu li { display: block; list-style: none; margin: 0; padding: 0px; float: left; position: relative; }
.multi-menu a { display: block; }
.multi-menu ul { display: none; position: absolute; left: 0; margin: 0px; padding: 0px; list-style: none; }

* html .multi-menu ul { line-height: 0; }
/* IE6 "fix" */
.multi-menu ul a { zoom: 1; }
/* IE6/7 fix */
.multi-menu ul li { float: none; }


/* .multi-menu a { color: {evo2_highlight2}; font-size: 12px; margin: 0 9px 0 0; padding: 0; text-transform: none; text-decoration: none; } */
.multi-menu a { width: 160px; height: auto; background: none; margin: 0; padding: 16px 15px; text-transform: uppercase; }
.multi-menu a { text-align: center; vertical-align: center; color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; }
.multi-menu a:hover { background: none; }
.multi-menu li.hover ul a { margin: 0; background: #6a6a6a; width: 190px; color: {evo2_highlight2}; padding: 10px 15px; box-shadow: 0 0 10px rgba(0,0,0,.3); }
.multi-menu li.hover ul a:hover { background: #444; color: #fff; }
.multi-menu a:hover img { opacity: .6; }

/* drop items */
.multi-menu ul li a { width: 190px; color: #fff; margin: 0; padding: 10px 15px; line-height: auto; background: #888;  }

.multi-menu ul a.has-subnav { margin: 0; }
.multi-menu ul a.has-subnav:hover { background: #aaa; color: #fff; margin: 0; }
.multi-menu ul a { border-top: 1px solid rgba(255,255,255,.4); opacity: 1; filter: alpha(opacity=100); margin: 0; font-size: 12px; height: auto; font-weight: bold; }
.multi-menu ul a { border-radius: 0;  -webkit-border-radius: 0; -moz-border-radius: 0; }

/* Aaron Jay 3/26/13 - Added support for 3rd level */

.multi-menu ul ul { display: none; position: absolute; left: 241px; top: 0; margin: 0; padding: 0; }
.multi-menu li.hover ul li.hover ul a { background: #777; color: #fff; margin: 0; }
.multi-menu li.hover ul li.hover ul a:hover { background: #555; color: #fff; }

